@*@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutLoginSignUp.cshtml";
}
<div class="signup">
    <div class="container">
        <div class="containerS">
            <div class="mb-1 d-flex justify-content-center align-items-center flex-column">
                <h5 class="fw-bold">Create New Account</h5>
                <a asp-action="create" asp-controller="Admin" class="Button btnsForm btn-primary">Sign Up Admin </a>
                <a asp-action="create" asp-controller="Shop" class="Button btnsForm btn-primary">Sign Up Shop </a>
                <a asp-action="create" asp-controller="User" class="Button btnsForm btn-primary">Sign Up User </a>
                <a asp-action="Login" asp-controller="home" class="Button btnsForm btn-primary">Login</a>
                <a asp-action="index" asp-controller="home">back home</a>
            </div>
        </div>
    </div>

</div>*@